/*=============================================================
共通設定
==============================================================*/
html {
  height: 100%;
  width: 100%;
}

body * {
  font-family: "游ゴシック体", "Yu Gothic", "Hiragino Kaku Gothic Pro", "Meiryo", sans-serif;
}

body {
  padding-top: 0px;
  padding-right:0px;
  /* padding-left:30px; */
  height: 100%;
  width: 100%;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  width:100%;
}

/*=============================================================
トップ画像
==============================================================*/
.top-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;
}

.top-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;
}

.minimamental, .minimalife {
  width: 100%;
  text-align: center;
  font-size: 25px;
}

.top-logo img {
  width: 100%;
  max-height:100%
}

/*=============================================================
学べる事
==============================================================*/
@media screen and (min-width: 768px) {
  .wtl-parent {
    height: 100vh;
  }
}
@media screen and (max-width: 767px) {
  .wtl-container {
    margin: 100px;
  }
}

.lesson-title-container {
  margin-bottom : 50px;
}

.lesson-title {
  width:100%;
  text-align: center;
  font-size: 23px;
}

.wtl * {
  margin:20px;
}

.wtl {
  margin-bottom:30px;
}

.wtl-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wtl-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wtl-img-img {
  max-width: 100%;
}

.wtl-title {
  font-size: 20px;
  text-align: center;
}

.wtl-text {
  word-wrap: break-word;
  text-align: center;
}

/*=============================================================
紹介文
==============================================================*/
.intro-container {
  height: 50vh;
  width: 60vw !important;
  background-image: url("assets/photo1518655048521F130df041f66.png");
  background-size: 100%;
  bottom:0px;
  border-radius: 10px;
}

.intro-row {
  height:100%;
  background:rgba(0,0,0,0);
  justify-content: left !important;
  padding-top:50px;
}

.intro-text {
  font-size: 18px;
  letter-spacing: 0.8px;
  margin-left: 100px;
  height:100%;
  background:rgba(0,0,0,0);
}

.intro-text-button-wrapper {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-text-button {
  border: 1px solid darkgray !important;
}

/*=============================================================
フッター
==============================================================*/
.footer {
  height: 100px;
}

/*=============================================================
フェードイン対応
==============================================================*/
/* 画面外にいる状態 */
.fadeIn {
	opacity : 0.1;
	transform : translate(0, 50px);
	transition : all 1.5s;
}

/* 画面内に入った状態 */
.fadeIn.scrollin {
	opacity : 1;
	transform : translate(0, 0);
}

.wtl-row .fadeIn:nth-of-type(2) {
  transition-delay: 200ms;
}

.wtl-row .fadeIn:nth-of-type(3) {
  transition-delay: 400ms;
}
